<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            align-items: center;
            align-content: center;
        }
    </style>
</head>

@model List<EnCoOrszag.ViewModell.ResearchViewModel>

@{
    ViewBag.Title = "Research";
}



<h2>Research</h2>

<h4>@ViewBag.Message</h4>



    <table>
        <tr>
            <th>Research</th>
            <th>Description</th>
        </tr>
        @foreach (var item in Model)
        {
            using (Html.BeginForm("ResearchSomething", "Research", FormMethod.Post))
            {
                 <tr>
                    <td align="left">
                        <input type="submit" name="submit" value="@item.Name" disabled=@item.Researched/>
                    </td>
                    <td>
                        @item.Description
                    </td>
                    @Html.HiddenFor(m => m.First(k => k.Id == item.Id).Id)
                </tr>
            }
        }
        
    </table>

<br />
