@model EnCoOrszag.ViewModell.BuildingViewModel
@{
    ViewBag.Title = "Build";
}
<h2>Build</h2>

@using (Html.BeginForm("BuildSomething", "Building", FormMethod.Post))
{

    <table>
        @foreach (var item in Model.Blueprints)
        {

        <tr>
            <td>
                <input type="submit" name="submit" value="Build @item.Name" />
            </td>
            <td>
                @item.Description
            </td>
        </tr>
        }
    </table>

}

@using (Html.BeginForm("CheatBuilding", "Building", FormMethod.Post))
{
    <div>
        <input type="submit" name="submit" value="Instant finish" />
    </div>
}



