<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            align-items: center;
            align-content: center;
        }
    </style>
</head>

@model List<EnCoOrszag.ViewModell.BuildingViewModel>
@{
    ViewBag.Title = "Build";
}
<h2>Build</h2>

@ViewBag.Message

@using (Html.BeginForm("BuildSomething", "Building", FormMethod.Post))
{
    <table>
        <tr>
            <th>Construct</th>
            <th>Description</th>
            <th>#</th>
        </tr>
        @foreach (var item in Model)
        {

        <tr>
            <td align="center">
                <input type="submit" name="submit" value=@item.Name />
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.NoOfFinishedBlueprints
            </td>
        </tr>
        }
    </table>
}

<br />

@using (Html.BeginForm("CheatBuilding", "Building", FormMethod.Post))
{
    <div>
        <input type="submit" name="submit" value="Instant finish" />
    </div>
}



