@using Newtonsoft.Json
@model EnCoOrszag.ViewModell.AssaultViewModel
<html ng-app="AssaultApp">
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
            }

            th, td {
                padding: 10px;
                align-items: center;
                align-content: center;
            }
        </style>
        <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
        <script type="text/javascript" src="~/Scripts/GameScripts/Assault.js"></script>
    </head>
    <body>
        

        @{
            ViewBag.Title = "Assault";
        }
        <h2>Assault</h2>
      var thing =  @Html.Raw(@JsonConvert.SerializeObject(@Model.Armies))
        <div ng-controller="ArmyStoreController as ASC">
            
        </div>
        
        <div ng-controller="TestController as test">
            {{test.setData(12)}}
            {{test.dmg}}
            {{test.minus(3)}}<br />
            {{test.dmg}}
        </div>
    </body>


</html>