<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            align-items: center;
            align-content: center;
        }
    </style>
</head>

@{
    ViewBag.Title = "Construction";
}

<h2>@ViewBag.Message</h2>

