@model EnCoOrszag.ViewModell.CountryViewModel
@{
    ViewBag.Title = "Country";
}

<h2>@ViewBag.Message</h2>


@using (Html.BeginForm("Test", "Country", FormMethod.Post))
{
    <div>@Html.LabelFor(m => m.Gold) - @Html.TextBoxFor(m => m.Gold)</div>
    <input type="submit" value="Cheat" />
}


